@{
    ViewBag.Title = "Models";
}

<h2>Models</h2>

This page offers access to the MVC-generated editing pages as well as base API pages. <br/>
You probably shouldn't mess with them.

<ul>
    <li>@Html.ActionLink("Buildings", "Index", "Building") (<a href="/api/Building" target="_new">api</a>)</li>
    <li>Events (<a href="/api/Event" target="_new">api</a>)</li>
    <li>@Html.ActionLink("External Locations", "Index", "ExternalLocation") (<a href="/api/ExternalLocation" target="_new">api</a>)</li>
    <li>@Html.ActionLink("Kemtah Techs", "Index", "KemtahTech") (<a href="/api/KemtahTech" target="_new">api</a>)</li>
    <li>@Html.ActionLink("Locations", "Index", "Location") (<a href="/api/Location" target="_new">api</a>)</li>
    <li>@Html.ActionLink("Meetings", "Index", "Meeting") (<a href="/api/Meeting" target="_new">api</a>)</li>
    <li>@Html.ActionLink("People", "Index", "Person") (<a href="/api/Person" target="_new">api</a>)</li>
    <li>@Html.ActionLink("Rooms", "Index", "Room") (<a href="/api/Room" target="_new">api</a>)</li>
    <li>@Html.ActionLink("Series", "Index", "Series") (<a href="/api/Series" target="_new">api</a>)</li>
    <li>@Html.ActionLink("Settings", "Index", "Settings") (<a href="/api/Settings" target="_new">api</a>)</li>
</ul>