@model VtcIts.Models.ExternalLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ExternalLocation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IpAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IpAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PointOfContact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PointOfContact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TechnicalContactPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TechnicalContactPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TechnicalContactEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TechnicalContactEmail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
